<form [formGroup]="fg" class="purchases">

    <table class="purchase-table">
        <thead>
            <tr>
                @for (col of columns; track $index){
                <th class="col-header">{{col.header}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (purchase of purchases(); track purchase.id){
                <tr (dblclick)="onRowDblClick(purchase)" formGroupName="update">

                    @if(purchase.id == currentEditingId()){
                        <td>
                            <input type="date" formControlName="date">
                        </td>
                        <td>
                            <input type="text" formControlName="description" placeholder="Description">
                        </td>
                        <td>
                            <input type="text" formControlName="vendor" placeholder="Vendor">
                        </td>
                        <td>
                            <input type="text" formControlName="tag" placeholder="Tag">
                        </td>
                        <td>
                            <input type="text" formControlName="type" placeholder="Type">
                        </td>
                        <td>
                            <input type="number" formControlName="amount" placeholder="Amount">
                        </td>
                    }
                    @else {
                        @for (col of columns; track $index){
                            @if (col.type == 'date'){
                                <td>{{col.cell(purchase) | date: 'MM/dd/yyyy'}}</td>
                            }
                            @else if (col.type == 'curr'){
                                <td>{{col.cell(purchase) | currency }} </td>
                            }
                            @else {
                                <td>{{col.cell(purchase)}}</td>
                            }
                        }
                    }
                    <div class="row-btns">
                        @if (purchase.id == currentEditingId()){
                            <button (click)="onCancel()" title="Cancel Changes">
                                <i class="fa-solid fa-ban"></i>
                            </button>

                            <button (click)="onRowModify(purchase.id)" title="Save">
                                <i class="fa-solid fa-floppy-disk"></i>
                            </button>
                        }
                        <button (click)="onDelete(purchase)" title="Remove">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                    
                </tr>
            

            }
            <tr formGroupName="add">
                <td>
                    <input type="date" formControlName="newDate">
                </td>
                <td>
                    <input type="text" formControlName="newDescr" placeholder="Description">
                </td>
                <td>
                    <input type="text" formControlName="newVendor" placeholder="Vendor">
                </td>
                <td>
                    <input type="text" formControlName="newTag" placeholder="Tag">
                </td>
                <td>
                    <input type="text" formControlName="newType" placeholder="Type">
                </td>
                <td>
                    <input 
                        type="number" 
                        formControlName="newAmount" 
                        (keydown.enter)="onRowSubmit()"
                        placeholder="Amount"
                        >
                </td>
                <button 
                    class="row-btns" 
                    (click)="onRowSubmit()">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </tr>

        </tbody>
    </table>
</form>

