<div class="purchases">

    <table class="purchase-table">
        <thead>
            <tr>
               @for (col of columns; track $index){
                    <th class="col-header">{{col.header}}</th>
               } 
            </tr>
        </thead>
        <tbody>
            @for (purchase of purchases(); track purchase.id){
                <tr>
                    @for (col of columns; track $index){
                        @if (col.type == 'date'){
                            <td>{{col.cell(purchase) | date: 'dd/MM/yyyy'}}</td>
                        }
                        @else if (col.type == 'curr'){
                            <td>{{col.cell(purchase) | currency }} </td>
                        }
                        @else {
                            <td>{{col.cell(purchase)}}</td>
                        }
                    }
                </tr>
            }
            <tr>
                <td><input type="date"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="number"></td>
            </tr>
        </tbody>
    </table>
</div>