<div id="purchases">

    <form [formGroup]="fg" id="add-purchase-form">

        <div class="form-input">
            <label for="date">Date: </label>
            <input id="date" type="date" formControlName="date">
        </div>
        <div class="form-input">
            <label for="description">description: </label>
            <input id="description" type="text" formControlName="description">
        </div>
        <div class="form-input">
            <label for="vendor">vendor: </label>
            <input id="vendor" type="text" formControlName="vendor">
        </div>
        <div class="form-input">
            <label for="tag">Tag: </label>
            <input id="tag" type="text" formControlName="tag">
        </div>
        <div class="form-input">
            <label for="type">Type: </label>
            <input id="type" type="text" formControlName="type">
        </div>
        <div class="form-input">
            <label for="amount">Amount: </label>
            <input id="amount" type="number" formControlName="amount">
        </div>

        <button type="button" (click)="onSubmit()">Submit</button>

    </form>

    <table id="purchase-table">
        <thead>
            <tr>
               @for (col of displayCols; track $index){
                    <th class="col-header">{{col}}</th>
               } 
            </tr>
        </thead>
        <tbody>
            @for (purchase of purchases(); track purchase.id){
                <tr>
                    @for (col of columns; track $index){
                        @if (col.type == 'date'){
                            <td>{{col.cell(purchase) | date: 'dd/MM/yyyy'}}</td>
                        }
                        @else if (col.type == 'curr'){
                            <td>{{col.cell(purchase) | currency }} </td>
                        }
                        @else {
                            <td>{{col.cell(purchase)}}</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>