.purchases {
    margin-top: 10px;

}

table {
    border-collapse: separate;
    border-left: 0px;
    border-radius: 4px;
    border-spacing: 0px;
    text-align: left;
}

thead {
    border-block-end: 2px solid;
    background: whitesmoke;
}

th,
td {
    border: 1px solid lightgrey;
    padding: 0.5rem;
}

td input {
    width: 130px
}



.row-btns {
    display: flex;
    gap: 5px;
    margin: 10px 0 0 5px
}