<fieldset class="budget">
    <legend><h4>Budget</h4></legend>
    <div class="budget-items">
        <div class="budget-item">
            <div class="label">Cash In:</div>
            <div class="value">{{budget()?.cashIn | currency}}</div>
        </div>

        <div class="budget-item">
            <div class="label">Cash Out:</div>
            <div class="value">{{budget()?.cashOut | currency}}</div>
        </div>

        <div class="budget-item">
            <div class="label">Disposable Income:</div>
            <div class="value">{{budget()?.disposableIncome | currency}}</div>
        </div>
        
    </div>
</fieldset>
