.fixed-expenses-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: dotted 1px;
    border-radius: 15px;
    padding: 10px;
    max-width: 40vw;
}

.header-note {
    font-style: italic;
    font-size: 16px;
}

.highlight {
    background-color: lightgoldenrodyellow;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fix-exp-item {
    display: flex;
    padding: 10px;
    border-radius: 15px;

}

.amount {
    margin-left: auto;
}