#fixed-expenses {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: dotted 1px;
    padding: 5px;
    max-width: 20vw;
}

.fixed-exp-item {
    display: flex;
    align-items: center;
    gap: 5px;
}