<fieldset class="fixed-expenses-wrapper">
    <legend><h4>Fixed Monthly Expenses</h4></legend>

    <div class="header-note">(* indicates note on hover)</div>
   
    <div class="container">

        @for(exp of fixedExpenses(); track exp.id){
            <div 
                (mouseover)="onFixedExpHover(exp.id)"
                (mouseleave)="resetHoverId()"
                
                class="fix-exp-item"
                >
                <div class="category">
                    {{exp.note != null ? exp.category+'*' : exp.category}}:
                </div>

                <div class="amount">
                    {{exp.amount | currency}}
                </div>
            </div>
        }
        
    </div>

    
</fieldset>

<!-- <form [formGroup]="fg" class="fix-exp-form">

    <div class="form-input">
        <label for="category">Category: </label>
        <input id="category" type="text" formControlName="category">
    </div>
    <div class="form-input">
        <label for="amount">Amount: </label>
        <input id="amount" type="number" formControlName="amount">
    </div>
    <div class="form-input">
        <label for="note">Note: </label>
        <input id="note" type="text" formControlName="note">
    </div>

    <button 
        type="button" 
        (click)="onSubmit()">
        Submit
    </button>
    
</form> -->




