<fieldset class="fixed-expenses-wrapper box-shadow">
    <legend><h4>Fixed Monthly Expenses</h4></legend>

    <div class="header-note">(* indicates note on hover)</div>
   
    <div class="container">

        @for(exp of fixedExpenses(); track exp.id){
            <div 
                (dblclick)="onDoubleClick(exp.id)"
                
                class="fix-exp-item"
                >

                @if(exp.id == editingId()){
                    <form [formGroup]="fg">
                        <div class="form-input">
                            <label for="category">Category: </label>
                            <input id="category" type="text" formControlName="category">
                        </div>
                        <div class="form-input">
                            <label for="amount">Amount: </label>
                            <input id="amount" type="number" formControlName="amount">
                        </div>
                        <div class="form-input">
                            <label for="note">Note: </label>
                            <input id="note" type="text" formControlName="note">
                        </div>
                        
                        <button (click)="onCancel()" title="Cancel Changes" type="button">
                            <i class="fa-solid fa-ban"></i>
                        </button>
                        
                        <button (click)="onSubmit()" title="Save" type="button">
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </form>
                    
                }

                @else {
                    <div class="category">
                        {{exp.note != null ? exp.category+'*' : exp.category}}:
                    </div>
                    
                    <div class="amount">
                        {{exp.amount | currency}}
                    </div>
                }
                
            </div>
        }
        
    </div>

    
</fieldset>






